body {
  text-align: center;
}

* {
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transform: all 300ms ease-in;
}

button:hover {
  transform: scale(1.05);
}

.game {
  background: url('./img/background.png') center/cover;
  width: 50em;
  height: 35rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.game__header {
  display: flex;
  flex-direction: column;
}

.game__button {
  font-size: 2rem;
  background-color: wheat;
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.game__timer {
  font-size: 1.8rem;
  background-color: white;
  margin-top: 0.5rem;
  width: 5rem;
  border-radius: 0.3rem;
  user-select: none;
  visibility: hidden;
}

.game__score {
  font-size: 1.8rem;
  background-color: darksalmon;
  color: whitesmoke;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-top: 0.3rem;
  border-radius: 50%;
  user-select: none;
  visibility: hidden;
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 8rem;
}

.popUp {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 25rem;
  height: 12rem;
  transform: translateY(-125%);
  border-radius: 2rem;
}

.popUp--hide {
  display: none;
}

.popUp__replay {
  font-size: 2rem;
  background-color: wheat;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-top: 2.5rem;
}

.popUp__message {
  display: block;
  font-size: 2.3rem;
  margin-top: 0.8rem;
  user-select: none;
}

.carrot,
.bug {
  transition: all 100ms ease-in;
}

.carrot:hover,
.bug:hover {
  cursor: pointer;
  transform: scale(1.1);
}
